.content {
    width: 100%;
    padding: 4rem 4rem 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .content div {
    max-width: 540px;
  }
  
  .content div h2 {
    font-size: 3rem;
  }
  
  .content div .description {
    padding-left: 0px;
    border-left: none;
  }
  
  .content div p {
    line-height: 2rem;
    margin-top: 2rem;
    padding-left: 1rem;
    border-left: 5px solid rgba(1, 135, 98);
    font-size: 1.5rem;
    color: rgba(81, 81, 81);
  }
  
  
  .buttonsContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    max-width: 453px;
  }
  
  .user, .vocational {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.5rem;
    box-shadow: rgba(0,0,0,0.25) 0px 4px 4px;
    transition: all 0.2s ease 0s;
  }
  
  .buttonsContent .user {
    background-color: rgba(1, 135, 98);
    padding: 0.75rem 2rem;
    color: var(--white);
  }
  
  .buttonsContent .user:hover {
    opacity: 0.7;
  }
  
  .buttonsContent .vocational {
    padding: 0.625rem 2.75rem;
    color: var(--green);
    background-color: var(--white);
    border: 2px solid var(--green);
  }
  
  .buttonsContent .vocational:hover {
    opacity: 0.7;
  }

  .content div img {
    width: 100%;
    height: 421px;
  }
  
  @media (max-width: 1040px) {
    .content {
       flex-direction: column;
       align-items: center;
       padding: 2rem 2rem 0px;
    }
}

@media (max-width: 1040px) {
  .content div h2{
     font-size: 2rem;
  }
}

@media (max-width: 1040px) {
  .content div p{
     line-height: 1.5rem;
     margin-top: 1rem;
     font-size: 1rem;
  }
}

@media (max-width: 520px) {
   .buttonsContent {
     flex-direction: column;
     gap: 1rem;
  }
}

  @media (max-width: 540px) {
    .content {
       padding: 1rem 1rem 0px;
    }
}

@media (max-width: 540px) {
  .content div h2 {
     font-size: 1.5rem;
  }
}

@media (max-width: 540px) {
  .content div p{
     line-height: 1.25rem;
     margin-top: 0.875rem;
     font-size: 0.875rem;
  }
}



